# WordPress API Configuration
WP_API_URL=https://aimarketingjournal.com/wp-json/wp/v2
USE_MOCK_DATA=false

# Authentication (if needed)
WP_AUTH_USER=
WP_AUTH_PASSWORD=

# Environment
NODE_ENV=development

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX